@import './base.css';

#app {
  font-weight: normal;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary-color);
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-hover)
  }
}