@import './base.css';

#app {
  font-weight: normal;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary-color);
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-hover)
  }
}

.btn {
  background-color: var(--primary-color) !important;
  color: var(--text-light-color) !important;
  width: 120px;
  border-radius: 5px !important;
  padding: 5px !important;
}

.btn-disable{
  background-color: var(--disable-color) !important;
  color: var(--text-disable-color) !important;
  width: 120px;
  border: 1px solid #27272A !important;
  border-radius: 5px !important;
  padding: 5px !important;
}